[gcode_macro SNAPMAKER_EXIT_DISCARD_BIN]
gcode:
    G90
    G1 Y250

[gcode_macro SNAPMAKER_MOVE_THEN_UNLOAD]
gcode:
    MOVE_TO_DISCARD_FILAMENT_POSITION
    # M109 S{temp}
    M83
    # {% if soft == 0 %}
    G1 E15 F400
    G1 E3 F1500
    # {% else %}
    G1 E5 F600
    # {% endif %}
    G1 E-27 F2700
    G1 E-5.5 F40
    G4 P3500
    G1 E-37.5 F1500
    M400
    # M104 S0
    M106 S255
    G4 P1000
    INNER_CUTOFF_BASE_DISCARD
    INNER_ROUGHLY_CLEAN_NOZZLE_BASE_DISCARD ACTION=2
    INNER_DISCARD_FILAMENT_BASE_DISCARD
    M107

[gcode_macro SNAPMAKER_PARK_BEFORE_LOAD]
gcode:
    MOVE_TO_DISCARD_FILAMENT_POSITION
    G1 Y100 F10000

[gcode_macro SNAPMAKER_PURGE]
gcode:
    {% set soft = params.SOFT | default(0) | int %}
    {% set temp = params.TEMP | default(250) | int %}
    {% set speed_default = 360 if soft == 0 else 200 %}
    {% set speed = params.SPEED | default(speed_default) | int %}
    {% set retract_length_default = 5.0 if soft == 0 else 2.0 %}
    {% set retract_length = params.RETRACT_LENGTH | default(retract_length_default) | float %}
    {% set e_pos = printer[printer.toolhead.extruder].printing_e_pos | float | abs %}
    {% set purge_length           = params['purge_length']      | default(60)   | float %}
    MOVE_TO_DISCARD_FILAMENT_POSITION

    M106 S255
    G4 P1000
    SNAPMAKER_BRUSH ACTION=1
    M107                        # Turn fan off
    M400
    # M109 S{temp}
    M83
    G1 E{purge_length} F{speed}
    M400
    # M104 S0
    M106 S255
    # _CLIENT_RETRACT LENGTH={retract_length}
    M400
    G4 P1000
    SNAPMAKER_BRUSH ACTION=2
    M107                        # Turn fan off

[gcode_macro SNAPMAKER_BRUSH]
gcode:
    {% set action = params.ACTION | default(1) | int %}
    INNER_CUTOFF_BASE_DISCARD
    INNER_ROUGHLY_CLEAN_NOZZLE_BASE_DISCARD ACTION={action}
    INNER_DISCARD_FILAMENT_BASE_DISCARD