[board_pins emu]
mcu: emu_lane1
aliases:
    MOT_UART=PA15,
    MOT_STEP=PD0,
    MOT_DIR=PD1,
    MOT_EN=PD2,
    MOT_DIAG=,

    RGB=PD3,

    TRG=PB7,
    LOAD=PB5,

    BUFFER_ADV=PB8,
    BUFFER_TRL=PB9,

    # Can be used for PSF sensor
    TH=PA3,

    FAN=PA0,

    BUTTON=PB6,

    TEMP_SCL=PB3,
    TEMP_SCA=PB4