[board_pins emu]
mcu: emu_lane1
aliases:
    MOT_UART=PB6,
    MOT_STEP=PB5,
    MOT_DIR=PB4,
    MOT_EN=PB7,
    MOT_DIAG=,

    RGB_button=PA4,
    RGB_box=PA2,

    TRG=PA1,
    LOAD=PA0,

    BUFFER_ADV=PB1,
    BUFFER_TRL=PB0,

    # Can be used for PSF sensor
    TH=PA3,

    FAN=PA15,

    BUTTON=PB2,

    TEMP_SW_SCL=PB10,
    TEMP_SW_SCA=PB11,
    TEMP_HW_I2C=i2c2_PB10_PB11