[board_pins erb_htlf]
mcu: ERB
aliases:
    M1_STEP=gpio16   , M1_DIR=gpio15   , M1_EN=gpio14    , M1_UART=gpio17   , # M1_DIAG=gpio19   ,
    M2_STEP=gpio10    , M2_DIR=gpio9   , M2_EN=gpio8    , M2_UART=gpio11    , # M2_DIAG=gpio13   ,

	HUB=gpio25 		, 
	HOME_POS=gpio24   ,
	LOAD1=gpio12  	   , LOAD2=gpio3 	   , LOAD3=gpio6	  , LOAD4=gpio27 	   ,
	
	RGB1=gpio21	   ,

    # The following pins are all ADC pins on the ERB 2.0 board for the PSF sensor
    # gpio26, gpio 27, gpio28, gpio29
    PSF=gpio26