[include mcu/Vivid_1.cfg]

[AFC_vivid Vivid_1]
hub: Vivid_1
extruder: extruder
buffer: Vivid_1_buffer
drive_stepper: Vivid_1_drive
selector_stepper: Vivid_1_selector
long_moves_speed: 120
long_moves_accel:50

[AFC_stepper Vivid_1_drive]
unit: Vivid_1
step_pin: Vivid_1:MDRV_STEP
dir_pin: Vivid_1:MDRV_DIR
enable_pin: !Vivid_1:MDRV_EN
microsteps: 16
rotation_distance: 360
gear_ratio: 43:1

[tmc2209 AFC_stepper Vivid_1_drive]
uart_pin: Vivid_1:MDRV_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper Vivid_1_selector]
unit: Vivid_1
step_pin: Vivid_1:MSEL_STEP
dir_pin: Vivid_1:MSEL_DIR
enable_pin: !Vivid_1:MSEL_EN
microsteps: 16
rotation_distance: 400
gear_ratio: 2.5:1

[tmc2209 AFC_stepper Vivid_1_selector]
uart_pin: Vivid_1:MSEL_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_lane lane1]
unit: Vivid_1:1
dist_hub: 2000
led_index: AFC_Indicator_1:1-7
load: Vivid_1_buffer:LOAD1
prep: Vivid_1:PREP1
selector: !Vivid_1:SEL1

[AFC_lane lane2]
unit: Vivid_1:2
dist_hub: 2000 
led_index: AFC_Indicator_1:8-14
load: Vivid_1_buffer:LOAD2
prep: Vivid_1:PREP2
selector: !Vivid_1:SEL2

[AFC_lane lane3]
unit: Vivid_1:3
dist_hub: 2000 
led_index: AFC_Indicator_2:1-7
load: Vivid_1_buffer:LOAD3
prep: Vivid_1:PREP3
selector: !Vivid_1:SEL3

[AFC_lane lane4]
unit: Vivid_1:4
dist_hub: 2000 
led_index: AFC_Indicator_2:8-14
load: Vivid_1_buffer:LOAD4
prep: Vivid_1:PREP4
selector: !Vivid_1:SEL4

[AFC_buffer Vivid_1_buffer]
advance_pin: Vivid_1_buffer:ADV
trailing_pin: Vivid_1_buffer:TRAIL
multiplier_high: 1.15
multiplier_low: 0.90

[AFC_hub Vivid_1]
afc_bowden_length: 2000     # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 20                   # Distance to move the filament within the hub in mm.
hub_clear_move_dis: 20
switch_pin: virtual

[AFC_led AFC_Indicator_1]
pin: Vivid_1:RGB1
chain_count: 14
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[AFC_led AFC_Indicator_2]
pin: Vivid_1:RGB2
chain_count: 14
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#--------------------------- Controller Fan ---------------------------#
[controller_fan Vivid_1_fan]
pin:     Vivid_1:CONTROLLER_FAN   # Fan control pin
stepper: AFC_stepper Vivid_1_drive, AFC_stepper Vivid_1_selector   # Monitored steppers

#--------------------------- Temperature Sensors ---------------------------#
[temperature_sensor Vivid_1_PTC_temp]
sensor_pin:      Vivid_1:PTC      # Sensor input pin
sensor_type:     Generic 3950   # Sensor type
pullup_resistor: 2200           # Pullup resistor value (ohms)
min_temp:        -20            # Minimum temperature (C)
max_temp:        100            # Maximum temperature (C)

[temperature_sensor Vivid_1_dryer_left]
sensor_type:          AHT3X          # Sensor type
i2c_mcu:              Vivid_1          # I2C MCU
i2c_software_scl_pin: Vivid_1:DRYL_SCL # Software I2C clock pin
i2c_software_sda_pin: Vivid_1:DRYL_SDA # Software I2C data pin
aht10_report_time:    5              # Report interval (seconds)
min_temp:             -20            # Minimum temperature (C)
max_temp:             100            # Maximum temperature (C)

[temperature_sensor Vivid_1_dryer_right]
sensor_type:          AHT3X          # Sensor type
i2c_mcu:              Vivid_1          # I2C MCU
i2c_software_scl_pin: Vivid_1:DRYR_SCL # Software I2C clock pin
i2c_software_sda_pin: Vivid_1:DRYR_SDA # Software I2C data pin
aht10_report_time:    5              # Report interval (seconds)
min_temp:             -20            # Minimum temperature (C)
max_temp:             100            # Maximum temperature (C)

#--------------------------- Heater Configuration ---------------------------#
[heater_generic Vivid_1_dryer]
heater_pin:         Vivid_1:HEATER            # Heater control pin
sensor_type:        temperature_combined    # Combined sensor type
sensor_list:        aht10 Vivid_1_dryer_left, aht10 Vivid_1_dryer_right   # Combined sensors
combination_method: max                     # Combination method
maximum_deviation:  100                     # Maximum temperature deviation
control:            pid                     # Control method
pid_Kp:             51.604                  # PID proportional gain
pid_Ki:             1.121                   # PID integral gain
pid_Kd:             593.934                 # PID derivative gain
min_temp:           -20                     # Minimum temperature (C)
max_temp:           65                      # Maximum temperature (C)

#--------------------------- Heater Verification ---------------------------#
[verify_heater Vivid_1_dryer]
max_error:       300    # Maximum temperature error
check_gain_time: 600    # Gain check timeout (seconds)
hysteresis:      10     # Hysteresis value
heating_gain:    1      # Minimum heating gain

#--------------------------- Heater Fan ---------------------------#
[heater_fan Vivid_1_dryer_fan]
pin:            Vivid_1:DRY_FAN # Fan control pin
max_power:      0.3          # Maximum power (0.0-1.0)
shutdown_speed: 0            # Speed at shutdown (0.0-1.0)
heater:         Vivid_1_dryer  # Associated heater