[include mcu/AFC_Lite_Claymore.cfg]

[mcu Claymore_1]
# canbus_uuid: <insert can id here>
serial: <insert your serial here>

[temperature_sensor Claymore_1]
sensor_type: temperature_mcu
sensor_mcu: Claymore_1

[AFC_Claymore Claymore_1]
hub: Claymore_1
extruder: extruder
buffer: Claymore_buffer
drive_stepper: Claymore_drive
selector_stepper: Claymore_selector
long_moves_speed: 300
long_moves_accel: 300
enable_buffer_tool_check: True

[AFC_stepper Claymore_drive]
unit: Claymore_1
step_pin: Claymore_1:M1_STEP
dir_pin: !Claymore_1:M1_DIR
enable_pin: !Claymore_1:M1_EN
microsteps: 16
gear_ratio: 40:20               # 20T
rotation_distance: 35.1          # 20T, Calibrate for your setup

[tmc2209 AFC_stepper Claymore_drive]
uart_pin: Claymore_1:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper Claymore_selector]
unit: Claymore_1
step_pin: Claymore_1:M2_STEP
dir_pin: !Claymore_1:M2_DIR        # Selector should rotate in counter clockwise direction
enable_pin: !Claymore_1:M2_EN
microsteps: 16
gear_ratio: 40:20               # 20T
rotation_distance: 35.5          # 20T, Calibrate for your setup

[tmc2209 AFC_stepper Claymore_selector]
uart_pin: Claymore_1:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_lane lane1]
unit: Claymore_1:1
dist_hub: 100
led_index: Claymore_Indicator_1:1
afc_motor_rwd: Claymore_1:MOT1_RWD
afc_motor_fwd: Claymore_1:MOT1_FWD
afc_motor_enb: Claymore_1:MOT1_EN
fwd_speed_multiplier: 0.3
pwm: True
load: ^Claymore_1:LOAD1
selector: !Claymore_1:SEL1


[AFC_lane lane2]
unit: Claymore_1:2
dist_hub: 29.83 
led_index: Claymore_Indicator_1:2
afc_motor_rwd: Claymore_1:MOT2_RWD
afc_motor_fwd: Claymore_1:MOT2_FWD
afc_motor_enb: Claymore_1:MOT2_EN
fwd_speed_multiplier: 0.3
pwm: True
load: ^Claymore_1:LOAD2
selector: !Claymore_1:SEL2

[AFC_lane lane3]
unit: Claymore_1:3
dist_hub: 100 
led_index: Claymore_Indicator_1:3
afc_motor_rwd: Claymore_1:MOT3_RWD
afc_motor_fwd: Claymore_1:MOT3_FWD
afc_motor_enb: Claymore_1:MOT3_EN
fwd_speed_multiplier: 0.3
pwm: True
load: ^Claymore_1:LOAD3
selector: !Claymore_1:SEL3

[AFC_lane lane4]
unit: Claymore_1:4
dist_hub: 100
led_index: Claymore_Indicator_1:4
afc_motor_rwd: Claymore_1:MOT4_RWD
afc_motor_fwd: Claymore_1:MOT4_FWD
afc_motor_enb: Claymore_1:MOT4_EN
fwd_speed_multiplier: 0.3
pwm: True
load: ^Claymore_1:LOAD4
selector: !Claymore_1:SEL4

[AFC_hub Claymore_1]
afc_bowden_length: 1015.036
cut: False
switch_pin: Claymore_1:HUB

[AFC_buffer Claymore_buffer]
advance_pin: ^!Claymore_1:ADV
trailing_pin: ^!Claymore_1:TRL
multiplier_high: 1.15
multiplier_low: 0.90

[AFC_led Claymore_Indicator_1]
pin: Claymore_1:RGB1
chain_count: 4
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0