[force_move]
enable_force_move: True

[AFC_Toolchanger Tools]

[AFC_extruder extruder]
u1_filament_sensor_name: e0_filament
tool_stn: 50                    # See documentation for details on how to calculate this value. https://armoredturtle.xyz/docs/afc-klipper-add-on/toolhead/calculation.html
tool_stn_unload: 60             # See documentation for details on how to calculate this value. https://armoredturtle.xyz/docs/afc-klipper-add-on/toolhead/calculation.html
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amount to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 25             # Load speed in mm/s when loading toolhead. Default is 25mm/s.
toolchanger_unit: Tools
custom_tool_swap : PICK_EXTRUDER
custom_unselect : PARK_EXTRUDER
u1_park_detector_name: extruder

[AFC_extruder extruder1]
u1_filament_sensor_name: e1_filament
tool_stn: 50                    # See documentation for details on how to calculate this value. https://armoredturtle.xyz/docs/afc-klipper-add-on/toolhead/calculation.html
tool_stn_unload: 60             # See documentation for details on how to calculate this value. https://armoredturtle.xyz/docs/afc-klipper-add-on/toolhead/calculation.html
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amount to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 25             # Load speed in mm/s when loading toolhead. Default is 25mm/s.
toolchanger_unit: Tools
custom_tool_swap : PICK_EXTRUDER1
custom_unselect : PARK_EXTRUDER1
u1_park_detector_name: extruder1

[AFC_extruder extruder2]
u1_filament_sensor_name: e2_filament
tool_stn: 50                    # See documentation for details on how to calculate this value. https://armoredturtle.xyz/docs/afc-klipper-add-on/toolhead/calculation.html
tool_stn_unload: 60             # See documentation for details on how to calculate this value. https://armoredturtle.xyz/docs/afc-klipper-add-on/toolhead/calculation.html
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amount to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 25             # Load speed in mm/s when loading toolhead. Default is 25mm/s.
toolchanger_unit: Tools
custom_tool_swap : PICK_EXTRUDER2
custom_unselect : PARK_EXTRUDER2
u1_park_detector_name: extruder2

[AFC_extruder extruder3]
u1_filament_sensor_name: e3_filament
tool_stn: 50                    # See documentation for details on how to calculate this value. https://armoredturtle.xyz/docs/afc-klipper-add-on/toolhead/calculation.html
tool_stn_unload:60              # See documentation for details on how to calculate this value. https://armoredturtle.xyz/docs/afc-klipper-add-on/toolhead/calculation.html
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amount to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 25             # Load speed in mm/s when loading toolhead. Default is 25mm/s.
toolchanger_unit: Tools
custom_tool_swap : PICK_EXTRUDER3
custom_unselect : PARK_EXTRUDER3
u1_park_detector_name: extruder3

#[filament_switch_sensor bypass]
#switch_pin: turtleneck:PB5
#pause_on_runout: False