# EMU single-lane reference template.
# The installer generates a complete multi-lane config from this layout.
# MCU name, lane numbers, and unit name are substituted at install time.

[include mcu/EMU_EMU_1.cfg]

[AFC_EMU EMU_1]
hub: EMU_1_HUB
extruder: extruder
buffer: EMU_1_buffer
# The following speeds below are conservative, speeds have been tested up to 500mm/s, recommended
# running speeds at 400mm/s or less.
long_moves_speed: 250
long_moves_accel: 120
#long_moves_speed: 300
#long_moves_accel: 300

[mcu emu_lane1]
canbus_uuid: <replace with your can UUID>
#canbus_interface: can1         # Uncomment if using a CAN bus other than can0
#serial: <replace with your /dev/serial/by-id/...> and comment out canbus_uuid above

[AFC_stepper lane1]
unit: EMU_1:1
step_pin: emu_lane1:MOT_STEP
dir_pin: emu_lane1:MOT_DIR
enable_pin: !emu_lane1:MOT_EN
microsteps: 4
rotation_distance: 22.7574
gear_ratio: 1:1
dist_hub: 2000
led_index: EMU_Indicator_1:1
led_spool_index: EMU_Indicator_1:2
# If using SLB board comment out the about led_index and led_spool_index and
# uncomment the indexes below. Then commend out [AFC_led EMU_Indicator_1] configuration
# section and uncomment both [AFC_led EMU_Indicator_Button_1] and [AFC_led EMU_Indicator_Box_1]
# configuration sections.
#led_index: EMU_Indicator_Button_1:1-4
#led_spool_index: EMU_Indicator_Box_1:1
prep: ^!emu_lane1:TRG
load: ^emu_lane1:LOAD
print_current: 0.4

[tmc2209 AFC_stepper lane1]
uart_pin: EMU_1_lane1:MOT_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_button lane1]
pin: ^!emu_lane1:BUTTON

# Based on your configuration, LED configuration must be selected from the below:

############### EBB + LED PCB ###############

#led_index: EMU_Indicator_1:1-4
#led_spool_index: EMU_Indicator_1:5

#[AFC_led EMU_Indicator_1]
#pin: emu_lane1:RGB
#chain_count: 5
#color_order: GRBW
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0

############### SLB + LED PCB ###############

#led_index: EMU_Indicator_Button_1:1-4
#led_spool_index: EMU_Indicator_Box_1:1

#[AFC_led EMU_Indicator_Button_1]
#pin: emu_lane1:RGB_button
#chain_count: 4
#color_order: GRBW
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0

#[AFC_led EMU_Indicator_Box_1]
#pin: emu_lane1:RGB_box
#chain_count: 1
#color_order: GRBW
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0

############### EBB + neopixel eject buttons ###############

#led_index: EMU_Indicator_1:1
#led_spool_index: EMU_Indicator_1:2

#[AFC_led EMU_Indicator_1]
#pin: emu_lane1:RGB
#chain_count: 2
#color_order: GRBW
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0

### Fan and Temperature
[controller_fan emu_fan_lane1]
pin: emu_lane1:FAN
max_power: 1
kick_start_time: 0.5
stepper: AFC_stepper lane1

[temperature_sensor lane1]
sensor_type: BME280
i2c_address: 118
# If using AHT20 sensor, comment out sensor type and i2c address above and uncomment
# the code below
#sensor_type: AHT2X
#i2c_address: 56
i2c_mcu: emu_lane1
i2c_software_scl_pin: emu_lane1:TEMP_SCL
i2c_software_sda_pin: emu_lane1:TEMP_SCA
# If using SLB board and would like to use hardware I2C, comment out software SCL/SDA pins
# and uncomment i2c_bus below
#i2c_bus: i2c2_PB10_PB11

[temperature_sensor emu_mcu_lane1]
sensor_type: temperature_mcu
sensor_mcu: emu_lane1


############### HUB/Buffer ###############

[AFC_buffer EMU_1_buffer]
advance_pin: ^emu_lane1:BUFFER_ADV
trailing_pin: ^emu_lane1:BUFFER_TRL
multiplier_high: 1.15
multiplier_low: 0.90

#[AFC_buffer EMU_1_PSF_buffer1]
#type: emu_lane1:TH
#adc_pin: PA0
#neutral_point: 0.5
#max_tension: 0.1
#max_compression: 0.9
#reversed: false  #Test slide by hand and look at buffer state in mainsail/fluidd Set to true if display shows opposite of your tested state.

# EMU hub is defaulted to hub without no sensor, if using a hub with a sensor
# please change the following:
#  - replace "virtual" with actual sensor pin. When changing to a actual pin
#  - update dist_hub variable in each AFC_stepper section to be around what
#    the PTFE length is between the load sensor and hub sensor.
#  - remove/comment out `use_dist_hub: True` line

[AFC_hub EMU_HUB_1]
afc_bowden_length: 2000     # Length of the Bowden tube from the hub to the toolhead sensor in mm.
hub_clear_move_dis: 5
switch_pin: virtual
use_dist_hub: True
